.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: $white;
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $box-shadow;
  .logo-navbar{
    display: flex;
    align-items: center;
  }
  .logo {
    color: $primaryText;
    display: flex;
    align-items: center;
    margin-right: .5rem;
    .logo-name{
      font-weight: 500;
      font-size: 2.5rem;
      span{
        color: $primaryColor;
        font-weight: 700;
      }
    }
    .icon {
      font-size: 2rem;
      color: $primaryColor;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      justify-content: center;
      align-items: center;
      border-radius: .5rem;
      font-weight: 700;
      margin-right: .2rem;
      padding: .5rem;
  }
  }
  .navbar {
    ul{
      list-style: none;
      li{
        position: relative;
        float: left;
        a{
          transition: all 0.3s ease;
          font-size: 2rem;
          padding: 2.5rem 2rem;
          color: $primaryText;
          display: flex;
          text-transform: capitalize;
          align-items: center;
          .icon{
            margin-left: 1rem;
          }
          &:hover{
            background: $primaryColor;
            color: $white;
            .icon{
              transform: rotate(-180deg);
            }
          }
        }
        ul{
          position: absolute;
          left: 0;
          width: auto;
          background: $white;
          box-shadow: $box-shadow;
          border: $border;
          display: none;
          li{
            width: 100%;
            border-top: 1px solid rgba(0,0,0,.1);
            a{
              padding: 1rem;
            }
            ul{
              left: 100%;
              top: 0;
              display: none;
              li{
                width: 25rem;
              }
            }
          }
        }
        // &:focus-within > ul,
        &:hover > ul{
          display: initial;
          transition: all 0.3s ease;
        }
      }
    }
  }
  // .navbar {
  //   ul{
  //     list-style: none;
  //     li{
  //       position: relative;
  //       float: left;
  //       a{
  //         transition: all 0.3s ease;
  //         font-size: 2rem;
  //         padding: 2rem;
  //         color: $primaryText;
  //         display: flex;
  //         text-transform: capitalize;
  //         align-items: center;
  //         &:hover{
  //           background: $primaryColor;
  //           color: $white;
  //         }
  //         .icon{
  //           margin-left: 1rem;
  //         }
  //       }
  //       ul{
  //         position: absolute;
  //         left: 0;
  //         width: 100%;
  //         background: $white;
  //         box-shadow: $box-shadow;
  //         border: $border;
  //         display: none;
  //         li{
  //           width: 100%;
  //           a{
  //             padding: 1rem;
  //           }
  //           ul{
  //             left: 25rem;
  //             top: 0;
  //           }
  //         }
  //       }
  //       // &:focus-within > ul,
  //       &:hover > ul{
  //         display: initial;
  //         transition: all 0.3s ease;
  //       }
  //     }
  //   }
  // }
  .icons {
    display: flex;
    .icon {
      @include icon(2.5rem);
      color: $primaryText;
      transition: all 0.5s ease;
      background: $backgroundColor;
      margin-right: .5rem;
      cursor: pointer;
      &:hover{
        color: $white;
        transition: all 0.5s ease;
        background: $primaryColor;
      }
    }
        .bars-icon{
          display: none;
        }
        .shopping-icon{
          display: none;
        }
    
    
  }
  .search {
    display: flex;
    position: absolute;
    top: 115%; right: 2rem;
    width: 50rem; height: 5.5rem;
    background: $white;
    transform: scale(0);
    transition: all 0.5s ease;
    transform-origin: top right;
    border: $border;
    input {
      font-size: 1.7rem;
      padding: 0 1.2rem;
      height: 100%;
      width: 100%;
      text-transform: none;
      color: $secondaryText;
      border-radius: .5rem;
    }
    label {
      display: flex;
      height: 100%;
      font-size: 2.5rem;
      padding-right: 1.5rem;
      color: $primaryText;
      align-items: center;
      padding: 0 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
      background: $backgroundColor;
      .icon {
        margin: 0 1rem;
      }
      &:hover {
        background: $primaryColor;
        color: $white;
        transition: all 0.3s ease;
      }
    }
    &.active{
      transition: all 0.5s ease;
      transform: scale(1);
    }
  }
  // .search {
  //   width: 20%;
  //   height: 5rem;
  //   border: $border;
  //   overflow: hidden;
  //   background: $white;
  //   display: none;
  //   align-items: center;
  //   border-radius: 2rem;
  // }
  @include desktop {
    .logo{
      padding: .5rem 0;
    }
    .icons{
      .bars-icon {
        display: inline-block;
      }
    }
    
    .navbar {
      position: absolute;
      top: 115%; right: 2rem;
      width: 30rem;
      background: $white;
      box-shadow: $box-shadow;
      border-radius: .5rem;
      transform: scale(0);
      transform-origin: top right;
      transition: all 0.5s ease;
      border: $border;
      ul{
        transition: all 0.5s ease;
        display: inline-block;
        li{
          a{
            padding: 2rem;
          }
          width: 100%;
          ul{
            position: relative;
            width: auto;
            box-shadow: $box-shadow;
            
            li{
              padding-left: 2rem;
              background: $white;
              position: relative;
              display: initial;
              a{
                font-weight: 700;
              }
              ul{
                width: auto;
                left: 0;
                li{
                  right: 0;
                  width: 100%;
                  padding-left: 2rem;
                }
              }
            }
          }
        }
      }
      &.active{
        transition: all 0.5s ease;
        transform: scale(1);
      }
    }
    
  }
  @include tablet{
    padding: 1rem 5%;
    .logo {
      padding: 0;
      img{
        height: 6rem;
      }
    }
  }
  @include telefono{
    .search{
      width: 90%;
    }
  }
}